{% extends 'admin/layout/base.html.twig' %}
{% block body %}
    <h1>Votre Profil</h1>

    <table class="table">
        <tbody>
        <center>
        <img src="{{ asset('images/users/'~app.user.photo.photoName|default('')) }}" height="160">
        </center>
        <br>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                {% if app.user.roles[0]=="ROLE_ADMIN" %}
                    <td>ADMIN</td>
                {% else %}
                    <td>Utilisateur</td>
                {% endif %}
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ app.user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ app.user.prenom }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <center>
    <a class="btn btn-primary btn-sm" href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifer vos informations</a>
        <br><br>
    <a class="btn btn-warning btn-sm" href="{{ path('admin_user_edit_password', {'id': user.id}) }}">Changer votre mot de passe</a>
    </center>
{% endblock %}
