<html>
<head>

    {% block stylesheets %}
        <link href="{{ asset('assets/css/css_login.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body>
{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <span class="bottomTrapezoidal"></span><span class="enterTriangle"></span>
    <div class="bottomTriangle"></div>
    <div class="mainTriangle">
        <div class="tContent">
            <p class="h4 font-IBM font-weight-light mb-5">SE CONNECTER</p>
            <form method="post">
                <div class="form-group input-shadow">
                    <label class="d-none" for="loginInput"> </label>
                    <input name="email" value="{{ last_username }}" class="form-control border-0 rounded-0"
                           id="inputEmail" type="email" placeholder="EMAIL..." required="required"/>
                </div>
                <div class="form-group input-shadow">
                    <label class="d-none" for="passwordInput"> </label>
                    <input name="password" class="form-control border-0 rounded-0" id="inputPassword" type="password"
                           placeholder="MOT DE PASSE..." required="required"/>
                </div>
                <br>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn btn-enter font-weight-light" type="submit"><i class="fas fa-lock fa-2x"> </i><br/>ENTRER
                </button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/all.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>

</html>

