{% extends 'admin/layout/base.html.twig' %}
{% block body %}
    <h1>Actualite index</h1>
    <div>
        <p style="100px" > <input  id="myInput"  type="text" placeholder="search">
            <img src="https://img.icons8.com/nolan/344/google-web-search.png" style="width:50px;height:50px;"/></p>

    </div>

    <table class="table">
        <thead>
            <tr>

                <th>Titre_article</th>
                <th>Type_sport</th>
                <th>Contu_article</th>
                <th>Image</th>
                <th>Video</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
        <tbody>
        <tbody id="myTable">
        {% for actualite in actualites %}
            <tr>
              
                <td>{{ actualite.titreArticle }}</td>
                <td>{{ actualite.typeSport }}</td>
                <td>{{ actualite.contuArticle }}</td>
                <td>{{ actualite.image }}</td>
                <td>{{ actualite.video }}</td>
                <td>
                    <a href="{{ path('app_actualite_show', {'id': actualite.id}) }}">show</a>
                    <a href="{{ path('app_actualite_edit', {'id': actualite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        <tbody id="search">

        </tbody>
        </tbody>
    </table>

    <a href="{{ path('app_actualite_new') }}">Create new</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
