{% extends 'admin/layout/base.html.twig' %}
{% block body %}
    <h1>Détails du Marque</h1>

    <table class="table">
        <tbody>
        <center><img src="{{asset('images/marques/'~marque.imageName)}}" height="160"></center>
        <br>
            <tr>
                <th>Nom</th>
                <td>{{ marque.nom }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ marque.slug }}</td>
            </tr>
        </tbody>
    </table>

    <center>
    {{ include('admin/marque/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-primary btn-sm" href="{{ path('admin_marque_edit', {'id': marque.id}) }}">Modifer</a>
    <br><br>
    </center>
    <a href="{{ path('admin_marque_index') }}">back to list</a>
    <br>

{% endblock %}
