{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1>Parametre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametre.id }}</td>
            </tr>
            <tr>
                <th>Tel1</th>
                <td>{{ parametre.tel1 }}</td>
            </tr>
            <tr>
                <th>Tel2</th>
                <td>{{ parametre.tel2 }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ parametre.email }}</td>
            </tr>
            <tr>
                <th>Fb</th>
                <td>{{ parametre.fb }}</td>
            </tr>
            <tr>
                <th>Youtube</th>
                <td>{{ parametre.youtube }}</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td>{{ parametre.linkedin }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ parametre.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ parametre.ville }}</td>
            </tr>
            <tr>
                <th>Instagram</th>
                <td>{{ parametre.instagram }}</td>
            </tr>
            <tr>
                <th>Jourdebut</th>
                <td>{{ parametre.jourdebut }}</td>
            </tr>
            <tr>
                <th>Jourfin</th>
                <td>{{ parametre.jourfin }}</td>
            </tr>
            <tr>
                <th>Heuredebut</th>
                <td>{{ parametre.heuredebut }}</td>
            </tr>
            <tr>
                <th>Heurefin</th>
                <td>{{ parametre.heurefin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_parametre_index') }}">back to list</a>

    <a href="{{ path('admin_parametre_edit', {'id': parametre.id}) }}">edit</a>

    {{ include('parametre/_delete_form.html.twig') }}
{% endblock %}
