{% extends 'admin/layout/base.html.twig' %}
{% block body %}
    <h1>Video index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Datecreation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.nom }}</td>
                <td>{{ video.description|raw }}</td>
                <td>{{ video.datecreation ? video.datecreation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('admin_video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('admin_video_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_video_new') }}">Create new</a>
{% endblock %}
