{% extends 'admin/layout/base.html.twig' %}
{% block body %}
    <h1>Détails du Video</h1>

    <table class="table">
        <tbody>
        <center>
            <video controls width="250">
                <source src="{{asset('images/blogs/'~blog.imageName)}}" type="video/mp4">
             </video>
        </center>
        <br>
        <tr>
            <th>Description</th>
            <td>
                {% autoescape false %}
                {{ blog.description|raw }}</td>
            {% endautoescape %}
        </tr>
            <tr>
                <th>Titre</th>
                <td>{{ blog.titre }}</td>
            </tr>
            <tr>
                <th>Date Création</th>
                <td>{{ blog.datecreation ? blog.datecreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <center>
    {{ include('admin/video/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-primary btn-sm" href="{{ path('admin_video_edit', {'id': blog.id}) }}">Modifer</a>
    <br><br>
    </center>
    <a href="{{ path('admin_video_index') }}">Précédent</a>
    <br>
{% endblock %}
