{{ form_start(form) }}
    {{ form_row(form.titre) }}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                    aria-selected="true">
                Description en Français
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-profile" type="button" role="tab"
                    aria-controls="nav-profile" aria-selected="false">
                Description en Anglais
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show nav-desc active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {{ form_row(form.description) }}
        </div>
        <div class="tab-pane fade nav-fiche" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {{ form_row(form.descriptionEnglish) }}
        </div>
    </div>
        {{ form_row(form.imageFile) }}
    <button class="btn btn-success btn-sm">{{ button_label|default('Ajouter') }}</button>
    <button type="reset" class="btn btn-danger btn-sm">
        <i class="fa fa-ban"></i> Réinitialiser
    </button>
<br>
<br>
{{ form_end(form) }}
