{% extends 'front/layout/base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-1 p-0 island1">

        </div>
        <div class="col-10">
            <div class="container mt-5">
                <h1 class="quisommesnous"> QUI SOMMES NOUS ? </h1>
                <div class="card big-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <img src="{{ asset('images/parametres/'~parametre.image1) }}" width="700px"
                                     height="300px" alt="">
                            </div>
                            <div class="col-4">
                                <h5 class="bienv">Bienvenue à <span> MATEB </span></h5>
                                {{ parametre.bienvenue }}
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-4">
                                <h5 class="bienv">Les missions de <span> MATEB </span></h5>
                                {{ parametre.mission }}
                            </div>
                            <div class="col-8">
                                <img src="{{ asset('images/parametres/'~parametre.image2) }}" width="700px"
                                     height="300px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container position-relative margin-container">
                <h1 class="quisommesnous"> NOS SERVICES </h1>
                <div class="center-logo">

                </div>
                <div class="row item-center">
                    {% for categorie in categories %}
                        <div class="col-3">
                            <div class="card card-categorie">
                                <div class="cercle">
                                    <img class="cercle-img" src="{{ asset('images/categories/'~categorie.imageName2) }}" alt=""
                                         width="50px">
                                </div>
                                <div class="card-body">
                                    <h5 class="cat-dessus-footer"> {{ categorie.nom }}</h5>
                                    <span class="cat-dessus-footer-span"> {{ categorie.description }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="navigation">
                        {# {{ knp_pagination_render(produits) }} #}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 p-0 island1">

        </div>
    </div>


    <div class="row swiper margin-swiper">
        <div class="swiper-wrapper swiper-slide-background-color">
            {% for marque in marques %}
                <div class="swiper-slide swiper-slide-background-color">
                    <img class="swiper-slide-on-footer" src="{{ asset('images/marques/'~marque.imageName) }}" alt="">
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="social-media-baniere">
        <a href="{{ parametre.youtube }}"> <i class="fab topicon-fixed fa-youtube"></i></a>
        <a href="{{ parametre.instagram }}"><i class="fab topicon-fixed fa-instagram"></i></a>
        <a href="{{ parametre.facebook }}"><i class="fab topicon-fixed fa-facebook"></i></a>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{{ asset('assets/css/swiper.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/swiper.min.css') }}">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.esm.bundle.js"></script>


    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper', {
            slidesPerView: 4,
            direction: getDirection(),
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            on: {
                resize: function () {
                    swiper.changeDirection(getDirection());
                },
            },
        });

        function getDirection() {
            var windowWidth = window.innerWidth;
            var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

            return direction;
        }
    </script>
{% endblock %}
