<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Une Deux | Boutique de Sport</title>
    <link rel="icon" href="{{ asset('assets/images/Mini Logo_2x.png') }}" type="image/png"/>
    <!-- Bootstrap CSS -->

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/front/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendors/front/linericon/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/front/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/front/themify-icons.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/front/flaticon.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendors/front/owl-carousel/owl.carousel.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendors/front/lightbox/simpleLightbox.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendors/front/nice-select/css/nice-select.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendors/front/animate-css/animate.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendors/front/jquery-ui/jquery-ui.css') }}"/>
        <!-- main css -->
        <link rel="stylesheet" href="{{ asset('assets/css/front/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/front/responsive.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}"/>
    {% endblock %}
</head>

<body>
<!--================Header Menu Area =================-->
{% include 'front/layout/header.html.twig' %}
<!--================Header Menu Area =================-->

<section class="home_banner_area mb-40">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content row">
                <div class="col-lg-12">
                    <p class="sub text-uppercase">Boutique de sport</p>
                    <h3><span>Montrer </span> Votre <br>Style <span>Sportif</span></h3>
                    <h4>Unedeux Sport Tunisie - Boutique de sport : vente en ligne de vêtements <br>et chaussures de
                        sport. Tous les articles de sport qui répondent à vos besoins.</h4>
                    <a class="main_btn mt-40" href="{{ path('front_produit_index') }}">Voir Notre Collection</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start feature Area -->
<section class="feature-area section_gap_bottom_custom">
    {# <div class="container"> #}
    {% block body %}


    {% endblock %}
    {# </div> #}
</section>
<!-- End feature Area -->

<!--================ start footer Area  =================-->
{% include 'front/layout/footer.html.twig' %}
<!--================ End footer Area  =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% block javascripts %}
    <script src="{{ asset('assets/js/front/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/front/popper.js') }}"></script>
    <script src="{{ asset('assets/js/front/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/front/stellar.js') }}"></script>
    <script src="{{ asset('assets/vendors/front/lightbox/simpleLightbox.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/front/nice-select/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/front/isotope/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/front/isotope/isotope-min.js') }}"></script>
    <script src="{{ asset('assets/vendors/front/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/front/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/front/counter-up/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/front/counter-up/jquery.counterup.js') }}"></script>
    <script src="{{ asset('assets/js/front/mail-script.js') }}"></script>
    <script src="{{ asset('assets/js/front/theme.js') }}"></script>
    <script src="{{ asset('assets/js/fontawesome.js') }}"></script>
    <script>
        // updated 2019
        const input = document.getElementById("search-input");
        const searchBtn = document.getElementById("search-btn");

        const expand = () => {
            searchBtn.classList.toggle("close");
            input.classList.toggle("square");
        };

        searchBtn.addEventListener("click", expand);
    </script>
{% endblock %}
</body>
</html>