<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>MATEB Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ asset('assets/images/Mini Logo_2x.png') }}">

    {% block stylesheets %}
        <!-- Bootstrap Css -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="{{ asset('assets/css/all.min.css') }}" id="app-style" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="{{ asset('assets/css/front.css') }}" id="app-style" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/front_ipad.css') }}" id="app-style" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/front_mobile.css') }}" id="app-style" rel="stylesheet" type="text/css">
        <!-- Mobile -->
        <link href="{{ asset('assets/css/mobile-navigation.css') }}" id="app-style" rel="stylesheet" type="text/css">

    {% endblock %}
</head>

<body data-sidebar="dark">
<!-- Begin page -->
<div id="layout-wrapper">
    {% include 'front/layout/header.html.twig' %}
    <!-- ========== Left Sidebar Start ========== -->
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block body %}


                {% endblock %}
            </div>
        </div>
        <!-- End Page-content -->
        <!-- end modal -->
        {% include 'front/layout/footer.html.twig' %}
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->
<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>
{% block javascripts %}
    <!-- JAVASCRIPT -->
    <script src="{{ asset('assets/libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/libs/metismenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset('assets/libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ asset('assets/libs/node-waves/waves.min.js') }}"></script>

    <!-- App js -->
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
{% endblock %}
</body>
</html>

