<footer class="footer">
    <div class="position-relative w-100">
        <img src="{{ asset('assets/images/footer_opacity.png') }}" class="w-100 img-footer2">
        <img src="{{ asset('assets/images/footer1.png') }}" class="w-100 img-footer1">

        <div class="container">

            <div class="row">
                <div class="col-3 col-md-6 col-lg-3  div-footer">
                    <a href=""> <span>{% trans %}AGRICULTURE{% endtrans %}</span> </a>
                    <ul>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                    </ul>
                </div>
                <div class="col-3 col-md-6 col-lg-3 div-footer">
                    <a href=""> <span>{% trans %}AGRICULTURE{% endtrans %}</span> </a>
                    <ul>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                    </ul>
                </div>
                <div class="col-3 col-md-6 col-lg-3  div-footer">
                    <a href=""> <span>{% trans %}AGRICULTURE{% endtrans %}</span> </a>
                    <ul>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                    </ul>
                </div>
                <div class="col-3 col-md-6  col-lg-3 div-footer">

                    <div class="w-100">
                        <a href=""> <span> {% trans %}INFORMATIONS DE CONTACT{% endtrans %}</span></a>
                        <a class="span-footer" href=""> {{ parametre.adresse }}</a>
                    </div>
                    <div class="w-100">
                        <div class="num-footer">
                            (+216) {{ parametre.num1 }}
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="social-logo">
                            <a href="{{ parametre.facebook }}"><i class="fab fa-facebook"></i></a>
                            <a href="{{ parametre.youtube }}"><i class="fab fa-youtube"></i></a>
                            <a href="{{ parametre.linkedin }}"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="interieur-cadre">
                        <img src="{{ asset('assets/images/Logo_white.png') }}" height="50">
                    </div>
                </div>
            </div>

            <div onclick="topFunction()" id="myBtn" class="arrow">
                <i  class="fas fa-chevron-up"></i>
            </div>
        </div>

    </div>

    <div class="w-100 copyright-bg" >
    <div class="container" >
        <div class="row copyright">
            <div class="col-sm-6 mt-3">
                <script>document.write(new Date().getFullYear())</script>
                © MATEB.
            </div>
            <div class="col-sm-6 mt-3">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Tekno Island
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>