<footer class="footer">
    <div class="container-fluid">
        <div>
            <img src="{{ asset('assets/images/footer_opacity.png') }}" class="w-100 img-footer2">
            <img src="{{ asset('assets/images/footer1.png') }}" class="w-100 img-footer1">
            <div class="cadre-logo">
                <img src="{{ asset('assets/images/footer_rectangle.png') }}" height="50">
            </div>
            <div class="interieur-cadre">
                <img src="{{ asset('assets/images/Logo_white.png') }}" height="50">
            </div>
            <div class="cadre-arrow">
                <img src="{{ asset('assets/images/Rectangle21.png') }}" height="50">
            </div>
            <div class="arrow">
                <img src="{{ asset('assets/images/Arright-arrow.png') }}" height="20">
            </div>
            <div class="fb-logo-arrow-cadre">
                <img src="{{ asset('assets/images/footer_facebook.png') }}" height="40">
            </div>
            <div class="div-footer row">
                <div class="col-sm-3">
                    <a href=""> AGRICULTURE </a>
                    <ul>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <a href=""> AGRICULTURE </a>
                    <ul>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <a href=""> AGRICULTURE </a>
                    <ul>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                        <li>Épandeur</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <a href=""> AGRICULTURE </a>
                    GP1 Birbouregba 8042 Hammamet. Hammamet, Tunisia
                </div>
            </div>
        </div>
    </div>
</footer>