<header class="header_area">
	<div class="top_menu">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="float-left">
						<p>Appelez-nous: +216 24 004 500</p>
						<p>email: contact@unedeuxcontact.tn</p>
						<p>Contactez-nous</p>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="float-right">
						<ul class="right_side">
							<li>
								<a href="https://www.youtube.com/">
									<i style="font-size: 20px" class="fab topicon fa-youtube"></i>
								</a>
							</li>
							<li>
								<a href="thttps://www.instagram.com/">
									<i style="font-size: 20px" class="fab topicon fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/">
									<i style="font-size: 20px" class="fab topicon fa-facebook"></i>
								</a>
							</li>

							{% if app.user %}
								<li>
									<div class="nav-item submenu dropdown">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<img class="rounded-circle photo-style" src="{{ asset('images/users/'~app.user.photo.photoName|default('')) }}"/>
											{{ app.user.prenom|default('') }}
											{{ app.user.nom|default('') }}
										</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="dropdown-item" href="{{ path('front_user_profile', {'id': app.user.id}) }}">
													<p class="mt-3">
														<i style="font-size: 15px" class="fa topicon fa-user mr-2"></i>
														Profile</p>
												</a>
											</li>
											<li class="nav-item">
												<a class="dropdown-item" href="{{ path('app_logout') }}">
													<p class="red-color mt-3">
														<i style="font-size: 15px" class="fa topicon fa-power-off mr-2"></i>
														Se déconnecter</p>
												</a>
											</li>
										</ul>
									</div>
								</li>
							{% elseif not app.user %}
								<li>
									<a href="{{ path('app_user_login') }}" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">
										<i style="font-size: 20px" class="fa topicon fa-user mr-2"></i>
										Se Connecter
									</a>
								</li>
							{% endif %}

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main_menu">
		<div class="container">
			<nav
				class="navbar navbar-expand-lg navbar-light w-100">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="{{ path('front_home') }}">
					<img src="{{ asset('assets/images/Logo_2x.png') }}" style="height: 70px"/>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
					<div class="row w-100 mr-0">
						<div class="col-lg-7 pr-0">
							<ul class="nav navbar-nav center_nav pull-right">
								<li class="nav-item active">
									<a class="nav-link" href="{{ path('front_home') }}">{% trans %}ACCUEIL{% endtrans %}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('front_qui_somme_nous') }}">{% trans %}QUI SOMMES-NOUS ?{% endtrans %}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('front_produit_index') }}">{% trans %}NOS PRODUITS{% endtrans %}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('front_actualite') }}">{% trans %}Actualite{% endtrans %}</a>
								</li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}NOS MARQUES{% endtrans %}</a>
									{% if is_granted("ROLE_CLIENT") %}
										<li class="nav-item">
											<a class="nav-link" href="{{ path('app_mes_commandes') }}">{% trans %}Mes Commandes{% endtrans %}</a>
										</li>
									{% endif %}
									{% if is_granted("ROLE_LIVREUR") %}
										<li class="nav-item">
											<a class="nav-link" href="{{ path('app_mes_livraisons') }}">{% trans %}Mes Livraisons{% endtrans %}</a>
										</li>
									{% endif %}
									<ul class="dropdown-menu"></ul>
								</li>
							</ul>
						</div>


						<div class="col-lg-4 pr-0">
							<form method="POST" action="{{ path('front_produit_search') }}" id="content">
								<input type="text" name="search-name" class="input-search" id="search-input">
								<button type="reset" class="search" id="search-btn"></button>
							</form>
						</div>
						<div class="col-lg-1 pr-0">
							<ul class="nav navbar-nav navbar-right right_nav pull-right">
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										{% set locale = app.request.locale %}
										<img src="{{ asset('assets/images/'~locale~'.png') }}" alt="{{ locale }}" width="30px">
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a class="dropdown-item" href="{{ path('change_locale',{'locale': 'fr'}) }}">
												<img src="{{ asset('assets/images/fr.png') }}" width="30px">
												Français
											</a>
										</li>
										<li class="nav-item">
											<a class="dropdown-item" href="{{ path('change_locale',{'locale': 'en'}) }}">
												<img src="{{ asset('assets/images/en.png') }}" width="30px">
												Anglais
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</nav>
		</div>
	</div>
</header>
