{% extends "front/layout/base.html.twig" %}

{% block body %}
	<link
	href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

	<!-- DataTables -->
	<link
	rel="stylesheet" href="{{ asset("plugins/datatables-bs4/css/dataTables.bootstrap4.css") }}">
	<!-- Content Wrapper. Contains page content -->
	<div
		class="container" style="margin-top: 40px; margin-bottom: 40px">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Mes Livraisons</h1>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div
						class="card">
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Adresse</th>
										<th>Etat</th>
										<th>Changer etat(Livré/En cours)</th>
									</tr>
								</thead>
								<tbody>
									<div class="alert alert-success" style="display: none;" role="alert"></div>
									{% for l in livraisons %}
										<tr>
											<td>{{ l.id }}</td>
											<td class="{{ l.id }}">{{ l.adresse }}</td>
											<td>{{ l.etat }}</td>
											<td>
												<input type="checkbox" id="{{ l.id }}" name="published" data-toggle="toggle" onchange="return confirm('Are you sure you want to update this livraison state?');">
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</tfoot>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ asset('plugins/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- DataTables -->
<script src="{{ asset("plugins/datatables/jquery.dataTables.js") }}"></script>
<script src="{{ asset("plugins/datatables-bs4/js/dataTables.bootstrap4.js") }}"></script>
<!-- page script -->
<script>
	$(function () {
$("#example1").DataTable();
$('#example2').DataTable({
"paging": true,
"lengthChange": false,
"searching": false,
"ordering": true,
"info": true,
"autoWidth": false
});
});

$("input:checkbox").change(function () {
var livraison_id = $(this).attr('id');

$.ajax({
type: 'POST',
url: `http://localhost:8000/livraison/changerEtat/${livraison_id}`,
data: {
"livraison_id": livraison_id
},
success: function (data) {
$(".alert-success").text(data)
$(".alert-success").show();
}
});
});
</script>
<!-- /.content-wrapper -->{% endblock %}
