<!--- Sidemenu -->
<div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="t-menu">Menu</li>
        <li>
            <a href={{ path('admin_home') }} class="waves-effect">
                <i class="bx bx-home-circle"></i>
                <span key="t-dashboards">Dashboards</span>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bxs-archive"></i>
                <span key="t-contacts">Produits</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href={{ path('admin_produit_index') }} key="t-user-grid">Liste Produits</a></li>
                <li><a href={{ path('admin_categorie_index') }} key="t-profile">Catégorie</a></li>
                <li><a href={{ path('admin_marque_index') }} key="t-profile">Marque</a></li>
            </ul>
        </li>
        <li>
            <a href={{ path('admin_devis_index') }} class="waves-effect">
                <i class="bx bx-dollar"></i>
                <span key="t-calendar">Devis</span>
            </a>
        </li>
        <li>
            <a href={{ path('admin_contact_index') }} class="waves-effect">
                <i class="bx bxs-contact"></i>
                <span key="t-calendar">Contact</span>
            </a>
        </li>
        <li>
            <a href={{ path('admin_blog_index') }} class="waves-effect">
                <i class="bx bxl-blogger"></i>
                <span key="t-calendar">Blog</span>
            </a>
        </li>
        <li>
            <a href={{ path('admin_user_index') }} class="waves-effect">
                <i class="bx bx-user"></i>
                <span key="t-calendar">Utilisateurs</span>
            </a>
        </li>
        <li>
            <a href={{ path('admin_video_index') }} class="waves-effect">
                <i class="bx bx-video"></i>
                <span key="t-calendar">Videos</span>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-cog"></i>
                <span key="t-contacts">Paramétre</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href={{ path('admin_parametre_accueil') }} key="t-user-grid">Page d'accueil</a></li>
                <li><a href={{ path('admin_parametre_a_propos') }} key="t-profile">Qui Sommes Nous ?</a></li>
                <li><a href={{ path('admin_parametre_new_catalogue') }} key="t-profile">Catalogue</a></li>
            </ul>
        </li>
    </ul>
</div>