{% extends 'front/layout/base.html.twig' %}
{% block body %}
    <div class="social-media-baniere">
        <a href="{{ parametre.youtube }}"> <i class="fab topicon-fixed fa-youtube"></i></a>
        <a href="{{ parametre.instagram }}"><i class="fab topicon-fixed fa-instagram"></i></a>
        <a href="{{ parametre.facebook }}"><i class="fab topicon-fixed fa-facebook"></i></a>
    </div>

    <div>
        <div class="row mt-5">
            <div class="col-1 p-0 island1">

            </div>
            <div class="col-10 p-0">
                <div class="container">
                    <div class="row justify-center">
                        {#
                        <img src="{{ asset('images/blogs/'~blog.imageName) }}" width="700px" height="300px" alt="">
                        {{ blog.datecreation ? blog.datecreation|date('Y-m-d') : '' }}
                        #}
                        <div class='container'>
                            <div class='blog-posts'>
                                {% for blog in blogs %}
                                    <div class='post featured'>
                                        <a href='#'>
                                            {% if blog.type == 'blog' %}
                                            <div class='image' style="background-image: url('/images/blogs/{{ blog.imageName }}');">
                                                <div class='time'>
                                                    <div class='date'>{{ blog.datecreation ? blog.datecreation|date('d') : '' }}</div>
                                                    {% if blog.datecreation|date('m') == 1 %}
                                                        <div class='month'>JAN</div>
                                                    {% elseif blog.datecreation|date('m') == 2 %}
                                                        <div class='month'>FÉV</div>
                                                    {% elseif blog.datecreation|date('m') == 3 %}
                                                        <div class='month'>MAR</div>
                                                    {% elseif blog.datecreation|date('m') == 4 %}
                                                        <div class='month'>AVR</div>
                                                    {% elseif blog.datecreation|date('m') == 5 %}
                                                        <div class='month'>MAI</div>
                                                    {% elseif blog.datecreation|date('m') == 6 %}
                                                        <div class='month'>JUN</div>
                                                    {% elseif blog.datecreation|date('m') == 7 %}
                                                        <div class='month'>JUL</div>
                                                    {% elseif blog.datecreation|date('m') == 8 %}
                                                        <div class='month'>AOÛ</div>
                                                    {% elseif blog.datecreation|date('m') == 9 %}
                                                        <div class='month'>SEP</div>
                                                    {% elseif blog.datecreation|date('m') == 10 %}
                                                        <div class='month'>OCT</div>
                                                    {% elseif blog.datecreation|date('m') == 11 %}
                                                        <div class='month'>NOV</div>
                                                    {% elseif blog.datecreation|date('m') == 12 %}
                                                        <div class='month'>DÉC</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if blog.type == 'video' %}
                                                <div class='image' style="background-image: url('/images/blogs/{{ blog.imageVideo }}');">
                                                    <div class='time'>
                                                        <div class='date'>{{ blog.datecreation ? blog.datecreation|date('d') : '' }}</div>
                                                        {% if blog.datecreation|date('m') == 1 %}
                                                            <div class='month'>JAN</div>
                                                        {% elseif blog.datecreation|date('m') == 2 %}
                                                            <div class='month'>FÉV</div>
                                                        {% elseif blog.datecreation|date('m') == 3 %}
                                                            <div class='month'>MAR</div>
                                                        {% elseif blog.datecreation|date('m') == 4 %}
                                                            <div class='month'>AVR</div>
                                                        {% elseif blog.datecreation|date('m') == 5 %}
                                                            <div class='month'>MAI</div>
                                                        {% elseif blog.datecreation|date('m') == 6 %}
                                                            <div class='month'>JUN</div>
                                                        {% elseif blog.datecreation|date('m') == 7 %}
                                                            <div class='month'>JUL</div>
                                                        {% elseif blog.datecreation|date('m') == 8 %}
                                                            <div class='month'>AOÛ</div>
                                                        {% elseif blog.datecreation|date('m') == 9 %}
                                                            <div class='month'>SEP</div>
                                                        {% elseif blog.datecreation|date('m') == 10 %}
                                                            <div class='month'>OCT</div>
                                                        {% elseif blog.datecreation|date('m') == 11 %}
                                                            <div class='month'>NOV</div>
                                                        {% elseif blog.datecreation|date('m') == 12 %}
                                                            <div class='month'>DÉC</div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class='content'>
                                                <h1>{{ blog.titre }}</h1>
                                                <p>{{ blog.description|raw }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 p-0 island2">

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function rand(min, max) {
            return Math.floor(Math.random() * max) + min;
        }

        document.querySelectorAll('.post:not(.featured)').forEach((post) => {
            post.querySelector('.image').style.backgroundImage = `url("https://unsplash.it/300/300/?image=${rand(100, 1000)}")`;
        });
    </script>
{% endblock %}
