{% extends 'front/layout/base.html.twig' %}
{% block body %}

    <div class="row">
        <img src="{{ asset('assets/images/bleda.png') }}" alt="">
        <div class="row">
            {# <span class="baniere-span-bold"> Get In Tocuh </span>
            <span class="baniere-span"> We provide leading solutions to agricultural.</span> #}
        </div>
    </div>

    <div class="row position-relative contact-form">
        <div class="col-6 contact-form-col">
            <div class="card">
                <div class="card-body">
                    <h2>{% trans %}Envoyer un message{% endtrans %}</h2>
                    {{ include('front/contact/_form.html.twig') }}
                </div>
            </div>
        </div>
        <div class="col-3 black-behind-form">
            <div class="row">
                <label>{% trans %}CONTACT INFO{% endtrans%}</label>
            </div>
            <div class="row">
                <i class="fas topicon4 fa-phone-volume"><span class="topicon4-span">{{ parametre.num1 }}</span></i>
            </div>
            <div class="row">
                <i class="fas topicon4 fa-envelope"><span class="topicon4-span">{{ parametre.email }}</span></i>
            </div>

            <div class="row">
                <i class="fas topicon4 fa-map-marker-alt"><span class="topicon4-span">{{ parametre.adresse }}</span></i>
            </div>
        </div>
    </div>

    <div class="row">
        <iframe class="position-relative w-100" style="border: 0;"
                src="https://maps.google.com/maps?q=MATEB%20,%20Mat%C3%A9riel%20et%20Equipement%20Bichiou,%20Birbourgba%20Hammamet&t=&z=13&ie=UTF8&iwloc=&output=embed"
                width="500" height="400" frameborder="0"></iframe>
    </div>
{% endblock %}
