{% extends 'layout/base.html.twig' %}
{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ categorie.slug }}</td>
            </tr>
            <tr>
                <th>Baniere</th>
                <td>{{ categorie.baniere }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ categorie.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('categorie/_delete_form.html.twig') }}
    <br>
    <a href="{{ path('admin_categorie_edit', {'id': categorie.id}) }}">Modifer</a>
    <br>
    <a href="{{ path('admin_categorie_index') }}">back to list</a>
    <br>
{% endblock %}
